[2015-10-09 22:11] 0xicl33n opened #1 "42coin doesnt work."
import coinmarketcap as cmc

    FOURTYTWO_PRICE = cmc.price('42')
    print FOURTYTWO_PRICE

Traceback (most recent call last):
  File "coinsnake.py", line 23, in <module>
    FOURTYTWO_PRICE = cmc.price('42')
  File "C:\Python27\lib\site-packages\coinmarketcap\coinmarketcap_api.py", line 39, in price
    return coin_info(PARAMETER)[4]
IndexError: list index out of range

http://coinmarketcap.com

[2015-10-09 22:13] #1 closed

[2015-10-09 22:15] mrsmn commented on #1
Hi there,

thank you for reporting this. Unfortunately I'm nowhere near a computer right now
so I'll have a look at this tomorrow.

Cheers.

[2015-10-09 22:17] mrsmn commented on #1
Well then, that was an easy fix. Don't worry about it, glad you managed to get it working.

[2015-11-07 06:59] Jzarecta opened #2 "Python3 support?"
Wonder if this module has Python3 support and what to do to adjust.
Tried getting it in my python3 pip but got the issue of:
[code]
Instead I used open(README)... and worked. However the new issue is that when it tries to import the coinmarketcap_api and fails.
[code]

[2015-11-09 09:00] mrsmn commented on #2
Hi there,

thank you for reporting this. I'll try to fix this as soon as I find some spare time.
PR's are welcome though :stuck_out_tongue:

Cheers.

[2015-11-15 17:01] mrsmn commented on #2
@Jzarecta I've found the issue, I'm preparing a fix that'll work for both Python 2 and 3.
Should push it sometime this week.

Cheers.

[2015-11-20 05:53] Jzarecta commented on #2
Cool, can't wait to get the update to make my script work. Looking to get a table of the altcoin valuation of selected altcoins.

[2015-12-10 06:50] Jzarecta commented on #2
Any update on this?

[2015-12-10 06:50] Jzarecta opened #3 "Get price on bitcoin"
Anyway I can get the altcoin prices on Bitcoins?

[2015-12-10 09:27] mrsmn commented on #2
@Jzarecta I've been quite busy the last few weeks but I'll try to cook something up. I basically know what the issues are, I just need an elegant way of fixing them.

Cheers.

[2015-12-10 09:28] mrsmn commented on #3
I don't really understand your question. What do you want to do exactly?

Cheers.

[2015-12-10 15:21] Jzarecta commented on #3
[code]

[2015-12-10 15:28] Jzarecta commented on #2
From the #python chatroom they told me the best practice for backward compatiblity is using the 'six module': 'Six provides simple utilities for wrapping over differences between Python 2 and Python 3. It is intended to support codebases that work on both Python 2 and 3 without modification. six consists of only one Python file, so it is painless to copy into a project.'

https://pythonhosted.org/

[2015-12-10 15:30] mrsmn commented on #3
Oh, I understand. As that's not really a part of the coinmarketcap "API" I won't implement it into this project but it should be pretty staightforward to write code doing that with the data provided by this library.

Cheers.

[2015-12-16 13:40] mrsmn commented on #2
@Jzarecta I've just pushed to ```@development```, I haven't tested the code though. Could you give it a spin under Python 3.x and tell me how it works?

Thank you.

[2015-12-17 09:20] mrsmn commented on #2
@Jzarecta fixed on ```@master``` and pushed to PyPI :smile:

[2015-12-17 09:20] #2 closed

[2015-12-17 12:54] mrsmn commented on #3
Will not be implemented in the module as it can be done externally in a few lines of code.

[2015-12-17 12:54] #3 closed

[2015-12-23 17:55] SheffieldCrypto opened #6 "Strange error"
I just installed via pip on windows, importing 'coinmarketcap' brings this error:

Traceback (most recent call last):
  File "C:\Users\David\Desktop\Python\JSON\UTC_test.py", line 1, in <module>
    import coinmarketcap
  File "C:\Python27\lib\site-packages\coinmarketcap\__init__.py", line 19, in <module>
    from .core import (
ImportError: cannot import name about
[Finished in 0.4s with exit cod

[2015-12-23 18:26] #6 closed

[2015-12-23 18:26] mrsmn commented on #6
Hi there,

this is fixed by the latest commit to master, was introduced when I removed the coinmarketcap.about() call. Thank you for reporting this.

Cheers.

[2015-12-24 03:58] SheffieldCrypto commented on #6
Thank you for your shift reply sir, Merry Christmas !

[2015-12-24 11:17] SheffieldCrypto opened #7 "Some coins don't work"
Hey again,

I'm wondering if you can help me, i'm trying to pull volume for each coin.
Out of 120 coins 15 don't work, i suspect it's because the coin names I have are different here's the pastebin for the coins that don't work:  (i included DOGE as a control)
http://pastebin.com/uqawGyqw

I got the coin names from a scrapper on poloniex, so maybe some of them don't match, is there a way to use th

[2015-12-24 20:17] mrsmn commented on #7
Hi there,

some currency names on ```coinmarketcap``` indeed won't match with ones from ```Poloniex```.
I bascially get the coin name with the following:

[code]
which will match the following:

[code]

You could implement some additional function (say ```.all()``) the would return you a list of all the coins.
If that's too much trouble, just have a look at the ```coinmarketcap``` source code and

[2015-12-26 13:19] SheffieldCrypto commented on #7
Hey, thanks for the reply.

I'm a little confused, as when i use the coin name as it appears on coinmarketcap (removing all spaces and caps) it still throws an error.

I'm not familiar with raw_data.xpath('//tr[@id="id-' + PARAMETER + '"]/td//text()') is this HTML ? I'm a beginner python program.

Any advice ?

Thanks,

[2015-12-26 13:29] SheffieldCrypto commented on #7
Also is it possible to get volume for each coin from individual exchanges? i'm interested in ones on poloniex http://coinmarketcap.com/exchanges/poloniex/

[2015-12-26 15:54] mrsmn commented on #7
Hi,

you can get the coin ID like this:

<img width="1920" alt="capture d ecran 2015-12-26 a 16 51 59" src="https://cloud.githubusercontent.com/assets/2029239/12007026/281bd60c-abf1-11e5-86d4-2e378ed31ee2.png">

The exchange calls haven't been implement into this module yet but I might be able to look into it after the Holiday break. I'll gladly accept any PRs :stuck_out_tongue:

Cheers.

[2016-01-04 11:27] #7 closed

[2016-01-07 11:02] loba333 opened #8 "Trying to scrape all data"
Hi there,

I'm trying to scrape, on a daily basis, the summary for each coin using this function:
coinmarketcap.coin_summary('bitcoin')

However i'm struggling to find a way to get all the coin names. Do you happen to have a list ?

Kind Regards,

[2016-01-07 11:12] mrsmn commented on #8
Hi,

I don't have a list of all the coins but you could come up with a way to get all coin IDs in a couple of LOC.
[Have a look at this](https://github.com/mrsmn/coinmarketcap-api/issues/7#issuecomment-167338016) for a way to get a coin ID

[2016-01-07 11:18] loba333 commented on #8
Hey, thanks for the reply.

Hm I can only code basic programs in python, could you kindly give further instructions on what code i would need to write in scrape the ID in each element for each coin ?

Regards

[2016-01-07 11:30] mrsmn commented on #8
Hi,

you will indeed need to scrape the coinmarketcap HTML. You coul adapt the ```coin_info()```function in [coinmarketcap/utils.py](https://github.com/mrsmn/coinmarketcap-api/blob/master/coinmarketcap%2Futils.py#L16) to suit your needs.

Cheers.

[2016-01-07 19:18] loba333 commented on #8
I have scrapped the HTML and have a csv of coins and their codes, would you like me to send it and the code over to you encase someone requires it ? ..... just a thought

[2016-01-07 21:29] mrsmn commented on #8
Hi there,

you could always create a PR an add the CSV file to the ```doc```directory. :smile:
I'm closing this as you've resolved the issue.

Much appreciated.

Cheers.

[2016-01-07 21:29] #8 closed

[2016-07-16 19:52] Jzarecta opened #11 "python3 support?"
I am getting the following bug:
[code]

[2016-07-16 23:23] Jzarecta commented on #11
Fixed it by replacing it with open, but urllib2 also doesnt help. There should be something like six, to fix those modules incompatibilities.

[2016-07-17 11:21] mrsmn commented on #11
Hi,

I probably broke python3 support  when I modified the library to use the official coinmarketcap API. I'll look into it in the coming days if I'm not too busy.

Cheers.

[2016-07-17 20:20] Jzarecta commented on #11
Well urllib2 is python2 and thats what you got on core,py. You should try to use six package or a simple conditional to guess the version and work with the other modules:
https://docs.python.org/3/howto/pyporting.html#use-feature-detection-instead-of-version-detection
https://docs.python.org/3/howto/urllib2.html

[2016-07-18 11:50] mrsmn commented on #11
Something like this should do the trick (I've not tested this yet):

[code]

[2016-07-18 11:56] Jzarecta commented on #11
umm, is not a good practice to create unecessary errors/exceptions, you can do something similar with what I sent you on the link:
[code]

[2016-07-25 07:51] mrsmn commented on #11
Fixed in 34faa2371cbf7d66688a4d876c046be737592864

[2016-07-25 07:52] #11 closed

[2016-07-25 23:46] Jzarecta opened #13 "Still having python3 issues"
I am trying to run the module, I update the library but get a urllib error:
[code]

[2016-07-26 06:12] mrsmn commented on #13
Hi there,

are you sure you updated the library properly? Works fine for me:

[code]

[2016-07-30 17:23] mrsmn commented on #13
@Jzarecta did you manage to get this working?

[2016-07-31 00:18] Jzarecta commented on #13
yeah is working, the issue was on the lxml module.

[2016-07-31 00:18] #13 closed

[2016-08-29 01:27] Jzarecta opened #14 "Is there a way to get the most 24h_change"
I wonder how easy is to request the top 10 of 24_change or other category like that, recursively.

[2016-08-29 05:49] mrsmn commented on #14
You'd have to loop over all the currencies and order ```24h_volume_usd```with ```sorted(24h_volume_usd, key=int, reverse=True)```. Hope this helps.

[2017-02-02 11:08] #14 closed

[2017-05-25 04:16] ethankershner opened #16 "Return Values"
When I use the ticker() method, instead of returning a list or dictionary, it returns a string. This is difficult to work with. Is the program supposed to do this?

[2017-05-25 08:02] skywen commented on #16
you can eval() this to turn the string into dict
----- 原始邮件 -----
发件人：ethankershner <notifications@github.com>
收件人：mrsmn/coinmarketcap-api <coinmarketcap-api@noreply.github.com>
抄送人：Subscribed <subscribed@noreply.github.com>
主题：[mrsmn/coinmarketcap-api] Return Values (#16)
日期：2017年05月25日 12点16分

When I use the ticker() method, instead of returning a list or dictionary, it returns a string. This is

[2017-06-07 13:01] #16 closed

[2017-09-12 18:10] Aro2220 opened #18 "KeyError on 4.0 not in 3.0.1"
Getting this error with version 4.0. Did not have any trouble with 3.0.1.
With 4.0 it says I need requests_cache. When I install requests_cache I get this error:
`

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/coinmarketcap/core.py", line 64, in stats
    response = self.__request('global/', params)
  File "/usr/local/lib/p

[2017-09-12 18:59] mrsmn commented on #18
Hi there,

thanks for reporting the issue, this is indeed a bug. I'll look into it tomorrow as it's getting a bit late.

Cheers.

[2017-09-13 00:19] danindiana opened #19 "ImportError: No module named 'coinmarketcap'"
I get this error when trying to call coinmarketcap. Despite a seemingly successful install using pip.

Python 3.4.3 (default, Nov 17 2016, 01:08:31)
[GCC 4.8.4] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named 'coinmarketcap'

(venv)speed@speed-desktop:~/py3project/

[2017-09-13 09:25] #18 closed

[2017-09-13 09:36] mrsmn commented on #19
Strange, seems to work for me™:

[code]
I've just published v.4.0.1, can you try updating?
Cheers.

[2017-09-13 09:43] mrsmn commented on #18
I've pushed v.4.0.1 which fixes your issue. I've had to remove ```response_object.from_cache``` for now as the implementation I have works on a list of dicts but not on a dict. I'll try and figure this out in the next couple of days and I'll publish v.4.0.2.

Thanks again for reporting this.

Cheers.

[2017-09-13 12:40] mrsmn commented on #18
@Aro2220 v.4.1 is out, I've fixed the ```response_object.from_cache``` issue. Could you try it out and see if it works as intended?

Cheers.

[2017-09-13 14:10] clu8 opened #20 "ModuleNotFoundError: No module named 'requests_cache'"
I'm getting `ModuleNotFoundError: No module named 'requests_cache'` when trying to `import coinmarketcap` after a clean install from pip. Maybe `requests-cache` needs to be added to the dependencies?

[2017-09-13 14:13] mrsmn commented on #20
Hi there,
```requests-cache``` is in the [list of required dependencies.](https://github.com/mrsmn/coinmarketcap-api/blob/master/requirements.txt)
Please use
```pip install -r requirements.txt```to install them.

Cheers.

[2017-09-13 14:13] #20 closed

[2017-09-13 17:32] jessebraham opened #21 "ImportError: No module named 'dummy_thread'"
**OS:** Windows 10
**Python:** 3.5.2

This appears to actually be a problem with requests-cache, which has [an open issue](https://github.com/reclosedev/requests-cache/issues/83) regarding just this problem. Just documenting it here as well in case anybody else encounters this. I can try to take a look at it a bit later.

[2017-09-13 19:36] danindiana commented on #19
OK. Here is what I've got.

pip3.4 install coinmarketcap --upgrade
Collecting coinmarketcap
  Downloading coinmarketcap-4.1.tar.gz
Collecting requests (from coinmarketcap)
  Downloading requests-2.18.4-py2.py3-none-any.whl (88kB)
    100% |████████████████████████████████| 92kB 3.1MB/s
Collecting certifi>=2017.4.17 (from requests->coinmarketcap)
  Downloading certifi-2017.7.27.1-py2.py3-none-any.w

[2017-09-13 19:46] mrsmn commented on #19
Argh, my bad. I forget to add the ```requests_cache``` dependency in my setup.py. Should be fixed with v.4.1.1 I've just pushed to PyPi.

Sorry for the trouble.

Cheers.

[2017-09-13 20:47] mrsmn commented on #20
This was partially my bad: I've since added ```requests-cache```to the list of dependencies in the ```setup.py```file. See #19 .

[2017-09-13 23:07] danindiana commented on #19
Still getting a requests_cache error as of 6:07 PM.

(venv)speed@speed-desktop:~/py3project/venv/bin$ python
Python 3.4.3 (default, Nov 17 2016, 01:08:31)
[GCC 4.8.4] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.4/dist-packages/coinmarketcap/__init__.py", line

[2017-09-14 07:02] #19 closed

[2017-09-23 04:36] Aro2220 commented on #18
Hi again, I've updated to the latest Coinmarketcap and tested it. The program is running along fine. Thanks for everything :)

[2017-09-28 02:38] goorooau opened #22 "limit=200 for ticker"
get error when limit=200, it's fine if not 200 ie 199, 201, etc

[code]

error:

[code]

[2017-09-28 07:38] mrsmn commented on #22
Hello,

I'll look into it and get back to you. Thanks for reporting this.

Cheers.

[2017-09-28 07:46] mrsmn commented on #22
This is strange, works fine for me:

[code]
Could you please check what version of ```coinmarketcap```, ```requests``` and ```requests-cache``` you're using?

Cheers.

[2017-12-04 17:54] iamtpage opened #23 "sqlite3.OperationalError: unable to open database file"
I'm using this component in my HomeAssistant installation and when it's configured it throws this exception:
[code]

A few other users are experiencing the same issue here: https://github.com/home-assistant/home-assistant/issues/9907

[2017-12-04 19:28] mrsmn commented on #23
Hello,

thanks for reporting this, I had no idea the home-assistant project was using this library. Unfortunately there's nothing I can do as the error seems to come from the [home-assistant codebase](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/sensor/coinmarketcap.py).

I'll keep an eye out and if nobody fixes this I'll try and come up with a PR downstream.

[2017-12-07 08:55] gitttt commented on #21
I had the same error on Windows 7 with Python 3.6.x
On a Windows 10 and Windows 2016 Server it worked with Python 3.6

[2017-12-08 13:01] franlab commented on #23
Hi, I am having the same issue without using home-assistant.

I just followed this example: http://blockxchain.org/2017/05/29/importing-altcoin-data-with-python-and-the-coinmarketcap-api/

Thanks!

[2017-12-08 13:04] mrsmn commented on #23
Hello @franlab,

can you share the exact code you're using (either on Pastebin or in a gist) so I can have a closer look. I've not been able to reproduce this error so far.

Cheers.

[2017-12-08 18:18] franlab commented on #23
Hello @mrsmn thanks for the response.

This is my code:
https://pastebin.com/EMg73zu8

and here is the code I am using to run the api within a llinux daemon: https://pastebin.com/9xA6hFbr which I borrowed from: http://web.archive.org/web/20131017130434/http://www.jejik.com/articles/2007/02/a_simple_unix_linux_daemon_in_python/

[2017-12-08 20:16] mrsmn commented on #23
Hey @franlab,

thanks for sharing, I'll look into the issue over the weekend. I have an idea where the error might come from, I'll need to do some testing.

Cheers.

[2017-12-09 23:32] mrsmn commented on #23
Hello again,

so I was able to get a look at the code @franlab posted: the codebase looks sane but keeps on complaining that it can't open the DB file. Adding a manual path (for example ```/home/<user>/coinmarketcap```) to the class instanciation doesn't seem to cut it.

If I had to take a guess I'd say it's the voodoo-black-magic forking of the daemon class that's at fault but I'll have to ```pdb

[2017-12-18 03:22] ruchern opened #24 "[Feature Request]Property for coin images in API"
Hi,

I have been looking through the API and there seemed to have one missing data that I would really wish to have. Is it possible to expose the property value for each coin images in the API?

Thank you!

[2017-12-18 06:48] mrsmn commented on #24
Hey @ruchern,

unfortunately the coinmarketcap API doesnt' expose coin images. There is however a paid API endpoint in the works which might do so.

Cheers.

[2017-12-18 06:48] #24 closed

[2017-12-18 06:57] ruchern commented on #24
@mrsmn May I know if the paid API is the one that have to request via the Google Docs form or it's an API from some other services?

[2017-12-18 06:59] mrsmn commented on #24
It's indeed the one you have to request access to via the GDocs form. 😉

[2017-12-18 07:09] ruchern commented on #24
@mrsmn I did sign up but have not gotten any reply. I will wait for that!

[2017-12-19 06:13] JacobHepworth opened #25 "Unable to use ticker"
I'm receiving the following error when trying to use the ticker method. I'm still able to access coinmarketcap.com regularly.

[code]

[2017-12-19 07:25] mrsmn commented on #25
Hello @JacobHepworth,

can you share the whole code snippet you're trying to use? (Pastebin or Gist will do).

Cheers.

[2017-12-19 09:42] themightydeity commented on #23
@mrsmn I see that you have been using request_cache but the path for sqlite  db cache is `/` (not correct) when Python is running under wsgi daemon processes, it would be nice to set that location from this library as well. Example on how it is being done in Django: [https://github.com/allianceauth/allianceauth/issues/224#issuecomment-177646284](url). This would solve permission issues.

[2017-12-19 11:06] mrsmn commented on #23
Thanks @themightydeity, I'll look into it over the weekend. 👍

[2017-12-22 08:08] 404-brain commented on #25
Getting the same error! Seems to happen when adding an optional currency.

Here's a code snippet:

[code]

[2017-12-22 10:50] mrsmn commented on #25
@404-brain That's mainly because you need to use the full name of the currency, so 'bitcoin' instead of 'BTC'.

Cheers.

[2017-12-24 05:50] JacobHepworth commented on #25
@404-brain That was the problem. I was just confused by the exception that was given.

[2017-12-30 01:02] Klathmon commented on #23
It might not be a full solution, but changing the `backend` to `memory` on [this line](https://github.com/mrsmn/coinmarketcap/blob/816c05f2ee09c10f48af3b31686da2ff4da3416c/coinmarketcap/core.py#L21) solves the problem for me.

Leaving it off will have it use `sqlite` if it's available, and fallback to `memory` if it's not ([according to the docs](http://requests-cache.readthedocs.io/en/latest/api.

[2017-12-31 18:42] benibienz commented on #25
@mrsmn Any chance the ticker function could be improved to accept ticker symbols as well? It's hard to integrate with other libraries at the moment.

[2018-01-04 13:28] mrsmn commented on #25
@benibienz The coinmarketcap API doesn't really allow for symbol input, only ID input is supported. Guess I could come up with something if people are interested.

[2018-01-06 17:10] jacksoncook opened #26 "Unsupported Pickling Protocol: 3"
I am attempting to use the API on python 2.7, but I have encountered an Unsupported Pickling Protocol: 3.  I have done some research into pickle and have been unable to decipher how to correct the pickling protocol using pickle.dumps() and pickle.loads().

[2018-01-06 17:16] #26 closed

[2018-01-06 18:04] jacksoncook commented on #26
Ran initially on python 3.5, causing the sqlite file to be pickle protocol 3.  Therefore when I ran on python 2.7 with the previous sqlite file in the folder, the python 2.7 could not handle the pickle protocol 3 it already had.

[2018-01-08 07:59] usaflees opened #27 "Hello Great master"
Im trying to install this onto my server through SSH and getting this error.  Probably a newbie mistake as im just learning.  I get this after trying to run the setup file after extraction

[2018-01-08 08:05] mrsmn commented on #27
Hey @usaflees,

could you please state what version of Python you're using and how exactly you're trying to install the library?
You should also use pip to install ```coinmarketcap```, not setuptools.

[2018-01-08 08:11] usaflees commented on #27
thanks for the fast reply.  Imm trying to get this script to play on my website.  Im currently using an ssh connection throuogh putty.  Ive gotten a bit further..
![image](https://user-images.githubusercontent.com/33063257/34662846-8e3afbd2-f421-11e7-8b8f-1d24f35010e7.png)

[2018-01-08 08:12] usaflees commented on #27
Ive changed all the permissions so that wouldnt be a problem.  Mind you I am trying to do all this without knowing basically anything.  Im using 1and1.com as hosting.

[2018-01-08 08:13] usaflees commented on #27
I ran an ftp program to move the files into a directory on the root of my website

[2018-01-08 08:13] usaflees commented on #27
If you are on skype or icq Id love a few minutes with you.  If not, thanks so much for the response!

[2018-01-08 08:28] mrsmn commented on #27
You should be able to execute ```python setup.py install```.

[2018-01-08 08:48] usaflees commented on #27
ok im further for sure.  it allowed that command, now this permission needs to be changed.  Is this server side?
![image](https://user-images.githubusercontent.com/33063257/34663823-c44e0ce6-f426-11e7-9b22-4653dccd18d1.png)

[2018-01-08 18:37] usaflees commented on #27
Shall i try anything else?  Is there another way I can run this on my site?  I tried taking the source code from the page on coinmarketcap.com and almost got it partly working lol.  Hours gone. =]

[2018-01-08 19:29] mrsmn commented on #27
The permission issues you're running into are unfortunately not related to the ```coinmarketcap```library but is related to the system you're trying to install the library on.

I don't know if I can help you there, it's out of my hands.

[2018-01-08 19:52] usaflees commented on #27
Ok, I will try to change it there.  Its trying to create a directory in the root of my database correct?

[2018-01-08 20:03] usaflees commented on #27
I think  may have found a solution.  Im using 1and1.com as my hosting.  Its basic shared.  But Ive found an option where they will allow me to create a fresh appplication directory.  Maybe this is my answer, I will report back =]

[2018-01-08 20:11] mrsmn commented on #27
It's trying to create the ```coinmarketcap``` directory in ```/usr/local/lib/python2.7/dist-packages``` which is read-only.

[2018-01-08 20:59] usaflees commented on #27
alright, I changed every permission in the entire directory database.  It got as far as creating the linux db folder and I have another Core,py file now.

![image](https://user-images.githubusercontent.com/33063257/34692082-d991b04c-f48c-11e7-8f8e-289c10498f2b.png)

[2018-01-08 21:53] usaflees commented on #27
On phone with hosting, i think its something on their emd i cannot change without changing packages.  This wouldnt affect it would it?  thanks for the sssistance brother it means so much to me!

Enabling SSI for Linux
In order to use Server Side Includes with a Linux shared hosting package, you will need to include the following two lines somewhere in an .htaccess file within your webspace:

[2018-01-09 05:30] usaflees commented on #27
Ok, just spent so much wasted time I believe on the phone.  I looked up the database and this root folder already exists for python as a database on my hosting.  Do I skip this part if that is the case?

[2018-01-12 01:11] usaflees commented on #27
I know you are most likely busy, just a quick update for you where I am at.  Come to find out I need private hosting to install to root, even though I changed permissions.  I'm moving my domains to a vps now.  Good news is I downloaded visual studio and am learning ALOT.  I'm going to give some things a try tonight and maybe figure out how to get it running through the free amazon hosting with a d

[2018-01-13 01:15] pancha0 commented on #21
same problem on macOS 10.12.6, Python 3.6.1. But worked in Python 2.7

[2018-01-13 12:31] CptanPanic opened #29 "New install, and get "database is locked""
When I try for the first time using call 'coinmarketcap.ticker('VTC', limit=3, convert='USD')' I get the following error using python3.  Note the cache file is actually created, but it is 0 size.

[code]

[2018-01-13 16:01] mrsmn commented on #29
Hey @CptanPanic,

could you please try using the coin ID instead of the symbol.

[code]

[2018-01-13 22:51] CptanPanic commented on #29
Turns out that it was due to running it in a mounted cifs directory.  And I needed to use 'vertcoin' instead of 'vtc'

[2018-01-13 22:51] #29 closed

[2018-01-14 05:28] jathpala opened #30 "Store the cache data in a temporary directory rather that current working directory"
The current implementation stores cached data in a file called coinmarketcap_cache.sqlite in the current working directory. This is a little untidy. Given that the data is really only designed to be useful for a short period of time and it's unlikely that the user would ever want to interact with the cache file directly, would it make sense to save this file in a system temp directory instead?

I'

[2018-01-14 05:33] jathpala commented on #30
Also, not sure but this may be a solution to the problem raised in #23 as it appears the problem was under that environment the current working directory was / which the user did not have write access to. Alternatively, it would be trivial to simply allow the user to supply a custom pathname when instantiating the Market object.

[2018-01-14 09:13] mrsmn commented on #30
Hey there,

I'm indeed interested, I just haven't had the time to look into it as I'm quite busy IRL at the moment. If you're up for a PR, I'll be more than happy to review it.

Cheers.

[2018-01-14 12:07] jathpala commented on #30
OK  cool. Have a look. #31

[2018-01-15 16:56] jacksoncook opened #32 "SQLITE File"
Is there a way to use the data acquired from CoinMarketCap without creating an SQLITE File or any supplementary files?

[2018-01-15 17:00] mrsmn commented on #32
Hey,

for now there isn't but it could be added. You can create a PR for it if you want. 😃

Cheers.

[2018-01-16 09:07] usaflees commented on #27
after a week and about 100 hours im no closer really.  Ive got my own cloud server now, and have it running in a container but still am failing getting it all to come together.  As I watch people re write this and implement it on their websites its completely discouraged me sadly.  Thanks for your help man, I appreciate it.

[2018-01-16 09:37] mrsmn commented on #27
Sorry to hear you couldn't get it to work. 😢

[2018-01-16 11:31] usaflees commented on #27
!!!!!!
![Uploading **image.png…]()**

[2018-01-16 12:11] mrsmn commented on #27
That looks promising indeed. Have a look at the README for basic instructions. Here's a summary:

- In a python interpreter, enter the following (just c/p the lines one by one)

[code]
Cheers.

[2018-01-17 11:00] mrsmn commented on #30
Fixed in #31 .

[2018-01-17 11:00] #30 closed

[2018-01-17 11:00] #27 closed

[2018-01-17 11:02] mrsmn commented on #22
No reply from user. Don't hesitate to reopen this if this is still an issue.

[2018-01-17 11:02] #22 closed

[2018-01-17 11:47] jathpala commented on #23
Might be worth someone trying this again with the latest commit. I wonder if the issue was that the current working directory in this situation was one that the user did not have write permission for. The cache file is now stored in a system temp directory which should be writable.

[2018-01-17 17:45] mrsmn commented on #23
Should be fixed in v.4.2.0 or in https://github.com/mrsmn/coinmarketcap/commit/c608a3d7805a4d408794dbf0bf5e0f69e715dae6.

[2018-01-17 17:45] #23 closed

[2018-01-20 17:03] mrsmn opened #33 "Accept currency symbol input"
See https://github.com/mrsmn/coinmarketcap/issues/25

[2018-01-20 17:03] #25 closed

[2018-01-20 21:14] timfi commented on #33
Hi @mrsmn ,

I have addressed this in my implementation. Would you like to see my solution?

[2018-01-20 21:36] mrsmn commented on #33
Hey @timfi,

I'll gladly take a look. I'm not a 100% settled on the idea yet as it's not really part of the original API but I wouldn't mind getting other people's input.

Cheers.

[2018-01-20 22:07] timfi commented on #33
Hi @mrsmn,

I mocked something up, I'm pretty new to python so might have some weird style, but it works. You can comment "symbol_id_list()" after the first run, but I want to make sure my script doesn't miss any new coins and it doesn't run that often.

[](https://gist.github.com/timfi/f6a8dd7489ea4f138da21a2a1fa14d6c)

[2018-01-20 22:30] mrsmn commented on #33
Hey,

thanks for sharing this. It's indeed what I was afraid of: there's not really an elegant way of solving this. (and don't worry about your python codestyle it looks perfectly fine to me 😄)

I don't know if including this in the coinmarketcap library would do it any good: people that **really** want to be able to input currency symbols can always come up with code like yours to do so.

What do

[2018-01-20 22:36] timfi commented on #33
thanks @mrsmn :)

This is indeed the best way I could think of. The only really elegant solution would be if coinmarketcap changes their API. The ever changing cryptomarket doesn't help either..

[2018-01-20 22:53] JacobHepworth commented on #33
The only alternative I can think of would be a scraper but I'm not familiar with CMC's terms of service.

[2018-01-21 14:33] jathpala commented on #33
Have a look at jathpala/coinmarketcap@5a31d20d72e1fca5996901bee999775ea2046a22. It's conceptually very similar to what @timfi has mocked up.

This adds a 'symbol' option to the ticker method. If a symbol is provided but currency is not then then the currency id will be looked up and used. It does this by storing a json dictionary of symbol to currency mappings in a 'symbols.json' data file. This d

[2018-01-22 20:55] benibienz commented on #33
Storing the mappings is inelegant but I think an acceptable solution until CMC changes their API (if ever). Thanks.

[2018-01-23 06:03] jathpala commented on #33
Yeah, I agree it isn't perfect. Unfortunately I think the only truly clean way of doing this is if the API supported using symbols directly. Without that, the mappings need to be stored and looked up, with the three options I see being:

1. Store it in a static file distributed in the code (this solution)
2. Include it directly in the source code, maybe in a separate file that can be included.
3.

[2018-01-29 13:56] achkeir opened #35 "Support needed"
Hello all,

I am new to Github so not sure if this is the right way to raise an issue.

I am still beginner in python and would like to know how to run the coinmarketcap on python.

I have the Anaconda ... i typed: pip install marketcap --> successful installation --> what should be the next step ? how can i read the data or visualize it ? is it embedded in the code ?

Thanks

[2018-01-29 16:11] mrsmn commented on #35
Hello,

please follow the intructions provided in the README:

[code]
Cheers.

[2018-01-29 16:11] #35 closed

[2018-02-11 10:05] jorijnsmit commented on #33
I think the biggest hurdle for cmc to integrate this is that there are several coins with the same symbol. `id` is always unique whereas `symbol` is not.

[2018-02-11 12:32] barnumbirr commented on #33
Hey everyone,

I've been quite busy IRL over the last couple of weeks. I'll look into this when I have some spare time.

Cheers.

[2018-02-12 10:23] jathpala commented on #33
Good point about multiple coins using the same symbol @jorijnsmit, I hadn't realised that occured. Unfortunately there's no way to deal with that elegantly without coinmarketcap.com eliminating duplicates on their end.

I still think it's worth implementing symbol lookup because I think many users of this library would need to do such a symbol to id conversion and would just need to do it in their

[2018-04-09 10:40] jkatsioloudes opened #36 "ImportError: cannot import name 'Session'"
I have this error in python 3.6 and I believe is due to a parameter name change I read about here: https://github.com/kennethreitz/twitter-scraper/issues/15

Traceback (most recent call last):
  File "/<MY_PATH>/coin_market_cap.py", line 1, in <module>
    from coinmarketcap import Market
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/coinmarketcap/__init__.p

[2018-04-09 11:06] barnumbirr commented on #36
Hey @jkatsioloudes,

error actually comes from [requests-cache](https://github.com/reclosedev/requests-cache/blob/master/requests_cache/core.py#L14). Did you install the required dependencies from the requirements.txt file?

Cheers.

[2018-04-09 11:09] jkatsioloudes commented on #36
Hey @barnumbirr,

I am using PyCharm to code so the import was made from there, thanks for letting me know, sorry if it is a stupid question but how can I do it?

[2018-04-09 11:10] barnumbirr commented on #36
Hello again,

a simple

[code]
 should do it.

Cheers.

[2018-04-11 18:46] wardj1999 opened #37 "Im numb"
So im calling

as stated in the manual you provided  and I have installed all the dependicies using PyCharm but every time I run it it just returns

Traceback (most recent call last):
  File "C:/Users/J/PycharmProjects/Learning/coinmarketcap.py", line 1, in <module>
    from coinmarketcap import Market
  File "C:\Users\J\PycharmProjects\Learning\coinmarketcap.py", line 1, in <module>
    from coin

[2018-04-11 18:58] wardj1999 commented on #37
Nvm my file had the same name as the module so it was just calling from my coinmarketcap.py file and not the module lol i dont know how to close issues but if you could thatd be great :)

[2018-04-11 19:47] #37 closed

[2018-04-13 22:34] firepol commented on #33
Hi guys, FYI I created a repo that queries the API by symbol (yet another one, since I read somebody else did something similar). I'm not a python expert, I wanted to play around, but who knows maybe it can be useful, have a look:

https://github.com/firepol/coinmarketcap-helper

[2018-04-29 15:18] ashutoshdev opened #38 "I want coin images and graph url"
Hey ,

I want coin  image url and graph url .can you please guide me how can I get the api..

[2018-05-01 16:18] barnumbirr commented on #38
Hello,

there's currently no way to retrieve coin icons or graph URLs using the API.

Cheers.

[2018-05-01 16:18] #38 closed

[2018-05-08 12:26] barnumbirr commented on #33
Hello all,

sorry for being MIA for so long (so much stuff to take care of IRL). I think changes to coinmarketcap's public API render this discussion moot. IMHO we can close this issue but before we do I'd like to get people's opinion.

Cheers.

[2018-05-08 19:34] firepol commented on #33
Hi @barnumbirr, welcome back!

I think that we have the same problem... we still need a way to map normal symbols such as "BTC", "IOTA", "ETH", "BTG" etc. to the "id" needed by coinmarketcap (which I think it's bad API design, but whatever... I guess we have to live with that).

The idea behind this discussion is to have a system to allow to lookup coinmarketcap data by cryptocurrency symbol. I th

[2018-05-12 08:27] SamCullin opened #39 ""python setup.py egg_info" failed with error code 1"
I have started to get this error when I do a pip install

[2018-05-12 12:37] barnumbirr commented on #39
Hello,

I'm gonna need more information before I'm able to help you:
- What Python version are you using?
- Which coinmarketcap library are you trying to install?
- Do you already have an older version of the coinmarketcap library installed? If so, which version?

Cheers.

[2018-05-12 13:53] moonloom commented on #39
I am having the same issue. Using python 3.6.3 in venv. I am just using "pip install coinmarketcap". I do not already have the coinmarketcap module.

[2018-05-12 13:56] barnumbirr commented on #39
Can you please make sure you're using the latest versions of the following tools:

* pip (v.10.0.1)
* setuptools (39.1.0)

I just tried a clean install on Python 3.6.5 without any issues:

[code]

Cheers.

[2018-05-12 14:42] SamCullin commented on #39
Hi,

I updated my anaconda and the error has not persisted. I will withdraw my
issue but if you are still interested in the issue I can find out the
version of anaconda I was previously on. The error had something to do with
decoding asiic. I had the older version and the error occurred when I what
trying to update.

Regards
Sam

On Sat, 12 May 2018 at 10:37 pm, Martin Simon <notifications@github.

[2018-05-12 16:12] Alocaly commented on #39
Hey !!

I've just had the same issue, here the text :
"Traceback (most recent call last):
  File "setup.py", line 29, in <module>
    long_description = open('README.md','r').read(),
  File "d:\tools\Anaconda3\envs\FreqTradeCcxt\lib\encodings\cp1252.py", line 23, in decode
    return codecs.charmap_decode(input,self.errors,decoding_table)[0]
UnicodeDecodeError: 'charmap' codec can't decode byte 0x

[2018-05-13 18:33] barnumbirr commented on #39
Hey @Alocaly,

thanks for looking into this. There's a small issue though: ```open(encoding='utf8')``` is Python 3 only so I'll have to figure out a way to force file encoding gracefully for both Python versions.

I could probably get away with just using ```io.open()``` as only Python 2.7 and 3.6 are supported by the library so the ```io``` performance issues in Py2.6 and 3.0 wouldn't really be a

[2018-05-14 08:56] barnumbirr commented on #39
Should be fixed in v.5.0.2 / d9e200d10cc61d8ca428f616d9063c3778bf1fc2.

[2018-05-14 08:56] #39 closed

[2018-05-14 19:01] fabaff opened #40 "Don't pin releases of requirements"
For Home Assistant there is an integration which uses `coinmarketcap`. In the past we were running into issues if a dependency was pinned to a specific release of one of their requirements.

`coinmarketcap` is pinning `requests==2.18.4` and `requests_cache==0.4.13`. Could you please consider to ease this?

Thanks

[2018-05-14 19:43] barnumbirr commented on #40
Hello,

I sure could ease the pinned requirements, what would be useful in your case?

Cheers.

[2018-05-14 21:31] fabaff commented on #40
Minimum version would work or if you are planning to maintain it no version at all.

[2018-05-14 21:34] barnumbirr commented on #40
So something like this would work for you:

[code]

[2018-05-14 21:57] fabaff commented on #40
Yes, because we try to stay up-to-date with our core requirements and requests is one of them.

[2018-05-14 22:28] barnumbirr commented on #40
Ok, I don't think this should have a big impact.

There's just something I don't understand (if you don't mind clearing that up for me):

Lastest version for ```requests``` is ```2.18.4```, so the version I have pinned in the setup file and don't see ```home-assistant``` requiring ```requests-cache``` as a dependency. I don't mind modifing this if it makes your life easier but I just don't seem to

[2018-05-15 06:39] #40 closed

[2018-05-15 06:41] barnumbirr commented on #40
v.5.0.3 is now on Pypi and includes fixes in 4e90337bdb467010d310bd796b898acef67d370a.

[2018-05-15 06:46] fabaff commented on #40
Thanks

[2018-05-16 20:27] stylesuxx opened #41 "Rate Limiting"
I am hitting rate limits. Unfortunately the library does not throw an according error, instead I get the following when trying to access the listing endpoint:

`TypeError: 'JSONDecodeError' object is not subscriptable`

I would suggest to propagate an error message here => https://github.com/barnumbirr/coinmarketcap/blob/4e90337bdb467010d310bd796b898acef67d370a/coinmarketcap/core.py#L44

[2018-05-26 16:53] Michelgard opened #42 "Very very long answer"
Hello, I am under Debian8 and the answer is very long to come (about 1mn) ...

[2018-05-26 19:52] barnumbirr commented on #42
I'm going to need more info:

- what version of Python are you using?
- what version of the library are you using?

Cheers.

[2018-05-26 20:11] Michelgard commented on #42
what version of Python are you using?  2.7.9
what version of the library are you using? 5.0.3

[2018-05-27 13:12] barnumbirr commented on #42
Hmmm, I don't seem to run into any performance issues. Running the following code takes around 590ms.

[code]

Can you try this out and tell me how long this takes for you?

Cheers.

[2018-05-27 13:36] Michelgard commented on #42
Hello,
Thanks for the test code.
Actually I must have a problem on my server because I have: do_work function took 150902.367 ms
I tested on another server and there: do_work function took 101.653 ms

On the other hand on the 1st server the call of the API in PHP is very fast ... so I have to see a problem rated Python.

Cheers.

[2018-05-29 09:02] barnumbirr commented on #41
Hello,

I'll look into it for the next release.

Cheers.

[2018-05-30 07:56] barnumbirr commented on #41
So I've looked into this yesterday evening and I don't think Coinmarketcap enforces rate limits: I queried the API every 0.5 seconds for well over 2 minutes and all responses were fine. This makes me think that the issue can be attributed to a small API downtime or error.

[2018-05-30 08:31] stylesuxx commented on #41
OK, unfortunately I don't have the code anymore, but I was querying the ticker by ID in a loop without any waiting time between the requests. It was more than the 30 requests per minute, that their API doc asks you to stay under => https://coinmarketcap.com/api/
It was reproducible over a couple of days, so not just a one time thing. I got a message that I have been blocked and only received the "

[2018-05-30 19:46] Michelgard commented on #42
Yes thank you very much

[2018-05-30 20:28] #42 closed

[2018-06-22 13:46] jathpala commented on #33
Hi,

Sorry for the delayed reply. Yes I agree this issue is now outdated with the changes to the CMC API. I might try to update my code to work with the V2 API but I probably won't have the time for it any time soon. If someone else wanted to give it a go that'd be great.

[2018-07-03 23:21] theMoe opened #44 "Ticket Result Limit - 100?"
Hi,

with API v2 the ticker request got a result limit of 100. Why? I would like to have one request for all currencies.

Best regards,

Moe

[2018-07-06 11:35] barnumbirr commented on #44
Hello,

that behaviour is defined by coinmarketcap.com themselves and there's not really a whole lot we can do about it unfortunately:

[code]

Cheers

[2018-07-06 11:35] #44 closed

[2018-07-07 00:17] alex-stout commented on #41
I was able to get the rate limiting. I accidentally didn't pause between my requests and exceed the 30 call per second limit. I'm not sure exactly how long I was blocked but it was more than 5 minutes.

[2018-07-08 13:18] amiut opened #45 "Get multiple ids in ticker"
I need to search through currencies so here's what i do  :
Let's say the user enters the word "bit", First i get the ids of the searched currency with `listing` endpoint, now i want to get list of those coins but there's no way to do this according to the documentation since `ticker/{id}` gives data only for 1 currency. is there any other way to do this?

[2018-07-09 07:05] barnumbirr commented on #45
Hello,

there's no other way of doing what you're trying to do. This is a limitation of the coinmarketcap API, not of the library.

Cheers.

[2018-07-09 07:05] #45 closed

[2018-07-11 16:16] alex-stout commented on #41
This issue should be handled with #46

[2018-09-23 09:36] newfulluser opened #47 "Cannot find how to configure the API key"
The wrapper seems to be working fine without one, but I don't want to get my IP rate limited. In the future I may have to purchase one of the paid api plans to avoid getting limited.

I have looked around and couldn't find where am I supposed to type my api key.

[2018-10-09 04:45] alex-stout commented on #47
I don't think this has been looked into yet. I'll check out what would be needed to make the conversion. As of now, this is not supported.

[2018-10-09 20:15] barnumbirr commented on #47
Ohai,

haven't found the time to update yet, I'll try my best to do so before the deadline.

Cheers.

[2018-10-29 19:25] alex-stout commented on #47
@dahifi I'll take some time this weekend to look at refactoring the code for the new calls.

[2018-11-25 11:13] AhmyOhlin opened #49 "best version of it is pip3 install coinmarketcap==4.2.1."
I installed the new version of it and every time when I try to get data I get metadeta and error dicts as well which make my work difficult. Just install the old version and everything is working smoother

[2018-11-25 11:13] #49 closed

[2018-12-03 12:04] webventurer commented on #47
CoinMarketCap are discontinuing the v2 API on 04.12.18 btw:
https://coinmarketcap.com/api/

[2018-12-03 15:06] tmlee commented on #47
If you guys are looking for a public open API for market data and more, do consider our API at https://www.coingecko.com/api
We designed it to be easy to consume and I think you guys might find it interesting.
Happy to answer any questions or concerns you may have!

[2018-12-06 12:16] newfulluser commented on #47
It seems to be working but probably not for long.

[2018-12-27 05:11] plgonzalezrx8 commented on #33
THis should be a non-issue. You can use the API to get all the market data, and then write your own functions and methods to get the data you want using the JSON module.

[2018-12-27 05:13] plgonzalezrx8 commented on #47
Any idea if this will be updated to be able to use the new APIs? I don't want to lose the functionality of my setup.

Owner, not sure if you are reading this, but will you continue to maintain this library? You are in a very priviledged position of having the default library when doing the pip install coinmarketcap.

[2018-12-28 03:14] kodycode commented on #47
I started updating the functions to the new API on my own fork. Right now I have the wrapper using the coinmarketcap sandbox API on one branch, but will update it to use the pro version later tonight or tomorrow. See here for the sandbox branch: https://github.com/kodycode/coinmarketcap/tree/sandbox_branch

I don't think I'll be covering the other endpoints but just the main ones.

[2018-12-28 08:30] xmatthias commented on #47
@kodycode will your pr require changes from a users perspective, or would an existing implementation continue to work as is?

[2018-12-28 17:13] kodycode commented on #47
@xmatthias Yes, it would require changes from a users perspective. The first change of this updated implementation you would need to supply an api key as one of the arguments for creating the `Market` class. Not only that, but the functions don't return the same data they used to (see [here](https://coinmarketcap.com/api/documentation/v1/#operation/getV1CryptocurrencyListingsLatest) to see the dat

[2019-08-20 19:58] hemulin opened #53 "stats() fails"
[code]

As simple as that :point_up:

[2019-08-21 22:17] hemulin commented on #53
That explains:
[code]

[2019-08-21 22:17] #53 closed

[2019-08-21 22:19] hemulin opened #54 "API endpoint is deprecated and down"
Using v5.0.3:
[code]

[2019-08-22 16:25] tilmanginzel commented on #54
See #47

[2019-08-22 23:04] hemulin commented on #54
@tilmanginzel Thanks :point_up:

[2019-08-22 23:04] #54 closed

[2019-09-04 08:37] sephrioth opened #55 "JSON Decode Error"
**Home Assistant release with the issue:**

v98.2

**Operating environment (Hass.io/Docker/Windows/etc.):**

Docker

**Description of problem:**
Can't update / setup coinmarketcap sensors

**Additional information:**

Traceback (most recent call last):
File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 261, in async_update_ha_state
await self.async_device_update()
File "/usr/src/h

[2020-03-08 12:48] vertti opened #56 "Project still alive?"
Seems the library is broken:
[code]

[2020-03-08 15:45] xmatthias commented on #56
doesn't seem to be tbh.
However, coinmarketcap is also not really interresting anymore for projects, if they force you to get an API key also for free usage.

Maybe look at coingecko (library: https://github.com/man-c/pycoingecko) - it does offer similar functions to coinmarketcap ...

[2020-06-16 02:15] jiamijiang commented on #56
yea i get the same error...

[2020-08-27 05:45] Nish0106 opened #57 "AttributeError: module 'tensorflow' has no attribute 'Session'"
HI,
I am trying to train a NLP dataset using tensorflow But I am facing the below error

File "train.py", line 52, in <module>
    with tf.Session() as sess:
AttributeError: module 'tensorflow' has no attribute 'Session'

I am using tensorflow - 2.3.0, Python - 3.6.8

Please help!

[2020-10-29 21:21] alex-stout commented on #57
Hi @Nish0106!

It looks like your question is related to Tensorflow not coinmarketcap itself.

Tensorflow 2.0 changed a lot in terms of usage compared to TF 1. Session is a v1 object. Here's a link to a Stack Overflow that might help you more: https://stackoverflow.com/questions/55142951/tensorflow-2-0-attributeerror-module-tensorflow-has-no-attribute-session

[2021-05-20 00:52] haydencall opened #58 "AttributeError: module 'requests_cache' has no attribute 'core'"
The request sent doesn't have the attribute 'core' Has anyone else had this issue? What version of requests should I have imported to use this library?

[2021-05-20 19:39] JWCook commented on #58
Looks like it's pinned to `0.4.13` in [requirements.txt](https://github.com/barnumbirr/coinmarketcap/blob/master/requirements.txt#L2).

To use the latest version, I think this line here: https://github.com/barnumbirr/coinmarketcap/blob/2b951be7cedd7efc484f50f27600ee8a003f3c94/coinmarketcap/core.py#L27

Just needs to reference `requests_cache.CachedSession` instead of `requests_cache.core.CachedSes

[2021-06-15 21:09] tifDev commented on #58
Same error, what is the solution for this?
 I executed that line but gave the same error:

[code]

[2021-06-16 21:09] JWCook commented on #58
That looks like a different error, probably just missing dependencies. Try:
[code]

[2021-06-16 21:27] tifDev commented on #58
No Need. I managed to make it work